* {
    box-sizing: border-box;
}

.header-panel {
    background-color: #448AFF;
    height: 144px;
    position: relative;
    z-index: 3;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.75);
    padding: 3em;
}

.header-panel h1 {
    color: #FFF;
    font-size:
}

.pages {
    z-index: 4;
    padding: 0;
    margin: 0 auto;
}

.pages > div {
    padding: 0 5px;
    padding-top: 1em;
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

/*.bottom::before {
  display: table;
  padding: 1em;
  content: "";
}*/

.bottom {
  position: absolute;
  bottom: 0;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.form-group {
  margin: 0 0 0 0;
}

.form-group label.control-label {
  margin: 8px 0 0 0;
}

.btn.btn-fab.main-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 999;
  background-color: #ff5252;
  color: ghostwhite;
}

.btn.btn-fab.main-button:hover, .btn.btn-fab.main-button:focus {
  background-color: #ff8a80;
}

#stats {
  background: #E3F5FF;
}

#stats .gpa-total {
    color: rgb(82, 101, 162);
    font-size: 4em;
}

.gradeentry h3 {
  margin-top: 0;
}

#stats div:nth-child(2) label {
  font-size: 1.5em;
}

.block-bottom {
}

.thick-rule {
  background: #666;
  border: 1px solid #666;
}

.form-control {
  text-align: "center";
}

.red-rule {
  background: #c33;
}

@media(max-width: 768px) {
  .header-panel h1 {
    font-size: 2em;
  }

  #stats .gpa-total {
    font-size: 3em;
  }
}
